@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Crimson Text', serif;
}

/* ----- HERO ----- */

.hero {
    background-color: #B39F91;
    height: 100vh;
    display: flex;
    color: white;

}

/* barra de navegacion */

nav > img {
    width: 12%;
    padding: 15px 0px 0px 38px;
    position: absolute;
    z-index: 10;
}

.secciones {
    display: flex;
    position: absolute;
    right: 35%;
    top: 3%;
}

.secciones > a {
    margin: 35px;
    padding: 0px 2px 3px 2px;
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 19px;
    transition: 0.3s;
    border-bottom: 1px solid white;
    z-index: 100;
}

.secciones > a:hover {
    color: black;
    border-bottom: 1px solid black;
    transform: scale(1.1);
}

/* texto del hero */

.texthero {
    position: absolute;
    top: 39%;
    right: 50%;
    left: 16%;
    border-left: 3px solid white;
    padding: 6px 0px 6px 40px;
    color: white;
}

.texthero > h1 {
    font-size: 40px;
    padding-bottom: 15px;
    font-weight: 400;
}

.texthero > p {
    font-size: 20px;
}

/* fondo de hero */

.hero > img {
    position: absolute;
    height: 100vh;
    right: 0%;  
    z-index: 3;
    transition: 0.2s;
}

.fondonegro {
    position: absolute;
    opacity: 0.4;
    height: 100vh;
    z-index: -1;
}

.fondonegro2 {
    opacity: 0.4;
    position: absolute;
    left: 0%;
    z-index: -10;
}

/* ----- PRESENTACION ----- */

.presentacion { 
    display: flex;
    height: 89vh;
    background-color: #faf4ee;
}

.nombre{
    padding-top: 10% ;
    padding-left: 12%;
    width: 40%;
    background: none;
    position: absolute;
    left:40%;
    z-index: 2;
    top: 112%;
}

.presentacion h2{
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 3%;
    color:white;
    background: none;
}

.presentacion p{
    font-weight: 400;
    background: none;
    color: white;
}

.presentacion img{
    height: 60vh;
    margin: 95px 0px 40px 250px;
    border: 20px solid #b39f91;
    background: none;
    position: absolute;
    z-index: 2;
    transition: 0.4s;
} 

.presentacion img:hover {
    transform: scale(1.02);
    box-shadow: 0px 5px 21px -6px #B39F91;
}

.fondopresentacion{
    background-color: #6c5f57de;
    width: 100%;
    height: 40vh;
    position:absolute;
    top:125%;
    z-index: 1;
}

/*  SECCIÓN PERFILADO/SERVICIO */

.servicios{
    height: 70vh;
    background-image: url(Imagenes/fondocejas.jpg);
    background-size: cover;
    background-repeat: none;
    background-position: 0% 0%;
    display: flex;
}

/* imagen */
.modelo {
    width: 40%;
    height: 237px;
    margin: 15vh 0 10vh 10%;
    border-radius: 15px;
    box-shadow: 0 2px 20px #000000;
}
/* texto */
.perfilado{
    margin-top: 5%;
    margin-left: 190px;
    width:25%;
}

.perfilado h2{
    font-size: 40px;
    margin-bottom: 25px;
    font-weight: 600;
}

.trabajos{
    margin: 30px 0;
    padding: 10px 40px;
    background-color: #B39F91;
    color: black;
    border: none;
    border-radius: 10px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.2s;
}

.trabajos:hover {
   box-shadow: 0px 5px 21px -5px #B39F91;
   transform: scale(1.03);
}
